body {
  margin: 0;
  width: 100%;
  position: absolute;
  font-family: "Goorm Sans", "MonoplexKR", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  user-select: none;
  display: flex;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0;
}

div.container i.fw {
  margin-right: 0.5rem;
}

div.container {
  display: flex;
  width: 100%;
  padding: 1rem;
}

div.container div.configuration,
div.container div.monitor {
  padding: 1rem;
  padding-bottom: 0;
}

div.container div.configuration {
  width: 460px;
}

div.container div.monitor {
  flex-grow: 1;
  text-align: center;
  padding-top: 3rem;
}

div.configuration div.mode-description {
  height: 3rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

div.container article {
  margin-left: 1rem;
  margin-bottom: 2.5rem;
}

div.container article:last-child {
  margin-bottom: 0;
}

div.container div.monitor article {
  margin-left: 0;
  margin-top: 2rem;
}

div.container article h2 {
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

div.container article table td {
  padding: 0.2rem;
}

div.container .configuration article>div {
  margin-left: 3rem;
  line-height: 1.5rem;
}

div.container .configuration article>div>div {
  margin-bottom: 1rem;
}

div.container .configuration article>div>div:last-child {
  margin-bottom: 0;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

/*******************************************************************************
* specific DOM configurations
*******************************************************************************/
span#controller-id,
span#controller-id i {
  font-weight: normal;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.traffic {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 1.5rem;
}

table.table-traffic-light {
  margin-left: -0.5rem;
  text-align: center;
}

table.table-traffic-light td {
  padding: 0 0.5rem !important;
}

input#cnt-lane {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

select.select-team,
select#file {
  width: 18rem;
  height: 1.7rem;
}

button.deselect-team {
  margin-left: 0.3rem;
  width: 1.7rem;
  height: 1.7rem;
}

input.event-name {
  width: 15rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

input.sensor-id {
  width: 3rem;
  text-align: center;
}

#record-title,
#competitive-title,
#lap-title {
  font-size: 3.5rem;
  font-weight: bold;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  margin: 0.3rem 0 0 !important;
  font-size: 3rem;
  font-weight: bold;
}

.reset {
  margin-left: 1rem;
}

.entry-team-list {
  margin-top: 3rem !important;
}

#competitive-team-list {
  display: flex;
  justify-content: center;
}

#competitive-team-list td {
  padding: 2rem;
}

.entry-lane {
  font-size: 3rem;
  padding-right: 1.7rem !important;
}

.entry-team {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  font-family: "MonoplexKR";
}

.entry-team-time {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-family: "Departure Mono";
  text-shadow: 1px 1px 2px grey;
}

.entry-team-hidden {
  display: none;
}

#lap-log {
  margin: auto;
  width: 20rem;
  max-height: 40rem;
  overflow-y: scroll;
  font-size: 1.5rem;
  font-family: "Departure Mono";
  line-height: 2rem;
}

#container-settings .mode-description {
  height: unset;
}

#container-settings .mode-description ul>li {
  margin-bottom: 0.5rem;
}

#container-settings .mode-description ul>li>ul {
  margin-top: 0.2rem;
}

.entry-add {
  height: 1.5rem;
  margin-right: 1rem;
  padding-left: 0.3rem;
}

#entry-table td {
  padding: 0.5rem 0;
}

#record-table thead th:first-child,
#log-table thead th:first-child {
  width: 15rem!important;
}

#record-thead thead th:nth-child(1) {
  width: 8rem!important;
}


/*******************************************************************************
* animations
*******************************************************************************/
@keyframes blink {

  0%,
  100% {
    opacity: 1;
    color: orange;
    text-shadow: 1px 1px 2px gold;
  }

  50% {
    opacity: 0;
  }
}

@keyframes blink-final {
  0% {
    color: orange;
    text-shadow: 1px 1px 2px gold;
  }

  100% {
    color: unset;
    text-shadow: 1px 1px 2px grey;
  }
}

.blink {
  animation: blink 0.5s ease-in-out 3, blink-final 0.3s ease-in 1 forwards;
  animation-delay: 0s, 1.5s;
}

/*******************************************************************************
* html default style patch
*******************************************************************************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*******************************************************************************
* notyf toast width
*******************************************************************************/
.notyf__toast {
  min-width: 400px;
  max-width: 600px;
}

/*******************************************************************************
* sidebar configurations
*******************************************************************************/
.sidebar-navigation {
  min-width: 80px;
  min-height: 100vh;
  background-color: #313443;
  z-index: 99999;
}

.sidebar-navigation ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.sidebar-navigation ul li {
  width: 80px;
  padding: 28px 0;
  cursor: pointer;
  transition: all ease-out 120ms;
}

.sidebar-navigation ul li i {
  display: block;
  font-size: 24px;
  transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
  display: inline-block;
  position: absolute;
  width: max-content;
  background-color: #313443;
  padding: 8px 15px;
  border-radius: 3px;
  margin-top: -26px;
  left: 90px;
  opacity: 0;
  visibility: hidden;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.sidebar-navigation ul li .tooltip:before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: 10px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: inherit;
}

.sidebar-navigation ul li:hover {
  background-color: #22252E;
}

.sidebar-navigation ul li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.sidebar-navigation ul li.active {
  background-color: #22252E;
}

.sidebar-navigation ul li.active i {
  color: #98D7EC;
}
